BookStoreWEB/WebContent/wsdl/SOAPBookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.webService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.webService" xmlns:intf="http://soap.webService" xmlns:tns1="http://entityBean" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.webService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entityBean"/>
   <element name="getBook">
    <complexType>
     <sequence>
      <element name="title" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBookResponse">
    <complexType>
     <sequence>
      <element name="getBookReturn" type="tns1:Book"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entityBean" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Book">
    <sequence>
     <element name="author" nillable="true" type="xsd:string"/>
     <element name="bookId" type="xsd:long"/>
     <element name="count" type="xsd:int"/>
     <element name="price" type="xsd:double"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBookRequest">

      <wsdl:part element="impl:getBook" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookResponse">

      <wsdl:part element="impl:getBookResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SOAPBookService">

      <wsdl:operation name="getBook">

         <wsdl:input message="impl:getBookRequest" name="getBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBookResponse" name="getBookResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOAPBookServiceSoapBinding" type="impl:SOAPBookService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOAPBookServiceService">

      <wsdl:port binding="impl:SOAPBookServiceSoapBinding" name="SOAPBookService">

         <wsdlsoap:address location="http://localhost:8888/BookStoreWEB/services/SOAPBookService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
